*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    position: center;
    top: 0px;
    right: -20px;
    width: 120px;
    height: auto;
    color: #7c4a4f;
    margin-right: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
th, td{
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;

}
th{
    background-color: pink;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}
tr:hover{
    background-color: #e0f7fa;
    transition: background-color 0.2s ease;
}


body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
   background-image: url(./african-black-man-car-service-mechanic-looking-happy-smiling-working-garage.webp); 
 background-repeat: no-repeat;
 background-size: cover; 
 background-position: center;
}
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, #7c4a4f, #e0f7fa);
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #e0f7fa;
}

header p {
    font-size: 1.2rem;
    margin: 10px 0;
}
footer {
    background-color:#7c4a4f;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}


footer p {
    margin: 10px 0 0;
}
section {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
}
.login-form label {
    display: block;
    margin-bottom: 8px;
}
.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #45a049;
}
.members{
    color: white;
    background-color:blue;
}
.time{
    color: pink;
    justify-content: center;
}